.movi{
    margin-top: 25px;
    overflow: hidden;
    height: 0;
    padding-bottom: 50.25%;
    padding-top: 25px;
    z-index: 3;
    border-radius: 6px;
    position: relative;
    border: inset 1px #1f72a1;
    box-shadow: 0px 0px 59px 0px #1f72a1;
    animation-name: movi_color;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background: rgb(42, 42, 42);
}

.movi_glow{
    margin: -67px auto -78px;
    height: 218px;
    background-color: rgba(1, 0, 112, 0.7);
    transform: perspective(649px) rotate3d(10,0,0,76deg);
    width: 81%;
    padding: 0px;
    box-shadow: 0px -33px 47px 43px black inset;
    animation-name: movi_glow_color;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.btn-style{
    width: 100%;
    margin: auto;
}
.navbar:after{
    height: 167px;
    background-color: rgb(0, 31, 49);
    transform: perspective(540px) rotate3d(10,0,0,99deg);
    width: 42%;
    padding: 0px;
    position: absolute;
    content: "";
    left: auto;
    right: auto;
    top: -60px;
    margin: 0px 28%;
    z-index: 3;
    box-shadow: 0px -13px 49px 0px black, inset 0px 0px 47px -18px
}
.navbar:before{
    height: 8px;
    position: absolute;
    top: 0px;
    background: #001f31;
    width: 100%;
    left: 0;
    content: "";
    box-shadow: 0px 1px 11px 0px black;
    z-index: 2;
}
@keyframes movi_glow_color {
    10%{
        background-color: rgba(56, 17, 161, 0.41);
    }
    40%{
        background-color: rgba(75, 74, 61, 0.21);
    }
    50%{
        background-color: rgba(225, 219, 0, 0.24);
    }
    60%{
        background-color: rgba(225, 0, 25, 0.23);
    }
    70%{
        background-color: rgba(111, 0, 19, 0.3);
    }
    80%{
        background-color: rgba(34, 0, 151, 0.28);
    }
    100%{
        background-color: rgba(45, 48, 46, 0.24);
    }
}
.movi iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
@keyframes movi_color {
    10%{
        box-shadow: 0px 0px 20px 0px #3811a1;
        border: inset 1px #3811a1;
    }
    40%{box-shadow: 0px 0px 20px 0px #4b4a3d;
        border: inset 1px #4b4a3d;
    }
    50%{box-shadow: 0px 0px 10px 0px #e1db00;
        border: inset 1px #e1db00;
    }
    60%{box-shadow: 0px 0px 20px 0px #e10019;
        border: inset 1px #e10019;
    }
    70%{box-shadow: 0px 0px 30px 0px #6f0013;
        border: inset 1px #6f0013;
    }
    80%{box-shadow: 0px 0px 20px 0px #900097;
        border: inset 1px #900097;
    }
    100%{box-shadow: 0px 0px 20px 0px #2d302e;
        border: inset 1px #2d302e;
    }
}
.log-reg{
    padding: 11px;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
}
.log-reg-style{
    box-shadow: inset 4px 4px 9px -3px black;
    background-color: #6b747c;
    color: #363a3e;
    border: 1px solid rgb(40, 12, 152);
    border-radius: .25rem;
}
.input-style{
    border: 1px solid #484a58 !important;
    box-shadow: inset 0px 0px 8px -1px black
}

.error_window_api{
    font-weight: bolder;
    background: #000000ad;
    font-size: 14px;
    padding: 10px;
    border-radius: 3px;
    text-align: initial;
}

.vkapi{
    height: 37px;
    width: 37px;
    text-align: center;
    background: #0071b3;
    color: #ffffff;
    padding: 7px;
    border-radius: 14px;
    box-shadow: inset 2px 5px 18px -4px black, 2px 2px 4px 0px black;
}
.vkapi:hover{
    height: 37px;
    width: 37px;
    text-align: center;
    background: #0071b3;
    color: #ffffff;
    padding: 7px;
    border-radius: 14px;
    text-decoration: none;
    box-shadow: inset 1px 1px 2px 1px #2b2b2b, 0px 3px 6px 1px #101117;
}
.imgs{
    margin-left: 50%;
    margin-right: 50%;
    position: absolute;
    height: 614px;
    z-index: 2;
    width: auto;
    right: -834px;
    top: 3px;
}
.img_user{
    border: 3px solid #7f7f84;
    border-radius: 7px;
    height: 300px;
    width: 300px;
    max-height: 300px;
    min-width: 100px;
    min-height: 100px;
    max-width: 300px;
    overflow: hidden;
    vertical-align: middle;
    padding: 27px;
}
.img_user::before{
    content: "";
    display: block;
    padding-bottom: 50%;
}
.line{
    background-color: brown;
    padding: 1px;
    box-shadow: 0px 0px 10px 3px #233453;
    margin-top: 20px;
}
.line2{
    background-color: #868a8d;
    padding-top: 1px;
    box-shadow: 0px 0px 10px 3px #233453;
    margin-top: 20px;
}

.container_cont{
    padding-top: 10px;
    padding-left: 9%;
    width: 80%;
    float: left;
    margin-top: 35px;
}
.container_news{
    width: 20%;
    float: right;
    background-color: rgba(0,83,255,0.2);
}
.container_channel{
    margin: 20px;
    display: inline-block;
    height: 350px;
    width: 350px;
    min-height: 100px;
    min-width: 100px;
    background-color: #2d302e;
    border: 0 solid;
    border-radius: 6px;
    box-shadow: 0px 0px 5px 2px #8f9aa1, inset 0px 0px 9px 2px #979da1;
}

.container_channel_play{
    margin: 20px;
    display: inline-block;
    height: 350px;
    width: 350px;
    min-height: 100px;
    min-width: 100px;
    background-color: #2d302e;
    border: 0 solid;
    border-radius: 6px;
    box-shadow: 0px 0px 5px 2px #a1131b, inset 0px 0px 9px 2px #a1171a;
}
.container_channel_play:hover{
    transform: scale(1.3,1.3);
    animation-name: increase;
    animation-duration: 1s;

}
.container_channel:hover{
    transform: scale(1.3,1.3);
    animation-name: increase;
    animation-duration: 1s;

}
@keyframes increase {
    0% {transform: scale(1,1);}
    100% {transform: scale(1.3,1.3);}
}

.channel_player{
    position: relative;
    padding-bottom:49.25%;
    padding-top:25px;
    border: solid 2px #1f72a1;
    height:0;
    box-shadow: 0px 0px 59px 0px #1f72a1;
    animation-name: channel_anim;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.channel_player iframe{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%
}
@keyframes channel_anim {
    10%{
        box-shadow: 0px 0px 59px 0px #3811a1;
        border: solid 2px #3811a1;
    }
    20%{
        box-shadow: 0px 0px 59px 0px #239aa1;
        border: solid 2px #239aa1;
    }
    30%{box-shadow: 0px 0px 59px 0px #09a10e;
        border: solid 2px #09a10e;
    }
    40%{box-shadow: 0px 0px 59px 0px #4b4a3d;
        border: solid 2px #4b4a3d;
    }
    50%{box-shadow: 0px 0px 59px 0px #e1db00;
        border: solid 2px #e1db00;
    }
    60%{box-shadow: 0px 0px 59px 0px #e10019;
        border: solid 2px #e10019;
    }
    70%{box-shadow: 0px 0px 59px 0px #6f0013;
        border: solid 2px #6f0013;
    }
    80%{box-shadow: 0px 0px 59px 0px #900097;
        border: solid 2px #900097;
    }
    90%{box-shadow: 0px 0px 59px 0px #929297;
        border: solid 2px #929297;
    }
    100%{box-shadow: 0px 0px 59px 0px #2d302e;
        border: solid 2px #2d302e;
    }
}

.overlay {
    background-color: rgba(0, 0, 0, 0.7);
    bottom: 0;
    cursor: default;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    z-index: 99999;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}
.popup {
    display: inline-block;
    left: 50%;
    opacity: 0;
    padding: 15px;
    width: 300px;
    height: 323px;
    position: fixed;
    text-align: justify;
    top: 40%;
    visibility: hidden;
    z-index: 999999;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: opacity .5s, top .5s;
    -moz-transition: opacity .5s, top .5s;
    -ms-transition: opacity .5s, top .5s;
    -o-transition: opacity .5s, top .5s;
    transition: opacity .5s, top .5s;
    border-radius: 11px;
}
.popup .close_window {
    width: 28px;
    height: 28px;
    position: absolute;
    padding: 1px 9px 4px 9px;
    top: -15px;
    right: -15px;
    cursor: pointer;
    color: #fff;
    font-family: 'tahoma', sans-serif;
    background: -webkit-gradient(linear, left top, right top, from(#3d51c8), to(#051fb8));
    background: -webkit-linear-gradient(top, #3d51c8, #051fb8);
    background: -moz-linear-gradient(top, #3d51c8, #051fb8);
    background: -o-linear-gradient(top, #3d51c8, #051fb8);
    background: -ms-linear-gradient(top, #3d51c8, #051fb8);
    background: linear-gradient(top, #3d51c8, #051fb8);
    background-color: #3d51c8;
    border: 1px solid #061fb8;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.5);
}
.popup .close_window:hover {
    background: -webkit-gradient(linear, left top, right top, from(#051fb8), to(#3d51c8));
    background: -webkit-linear-gradient(top, #051fb8, #3d51c8);
    background: -o-linear-gradient(top, #051fb8, #3d51c8);
    background: -ms-linear-gradient(top, #051fb8, #3d51c8);
    background: linear-gradient(top, #051fb8, #3d51c8);
    background-color: #051fb8;
    border: 1px solid #00385E;
}
.popup .close_window:active {
    background: #8f9be0;
}

.img_square{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 300px;
    height: 300px
}